.bg-form {
    -fx-background-color: linear-gradient(to bottom right, #1e1e3f, #4d4d8d, #3b3b6d);
}

.header {
    -fx-font-size: 2em;
    -fx-border-width: 0 0 0 10px;
    -fx-padding: 0 0 0 10px;
    -fx-text-fill:#86C9F8;
    -fx-font-weight: bold;
}

.headerLogo {
    -fx-fill: linear-gradient(to bottom right, #91e7ff, #005d76);
}

.faUser {
    -fx-fill: #4ebef8;

}

.faLock {
    -fx-fill: #4ebef8;
}

.faEnvelope {
    -fx-fill: #4ebef8;
}

.txtRole {
    -fx-text-fill: #ff5959;
}

.text-field {
    -fx-padding: 0 0 0 30px;
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #fff, #fff);
    -fx-border-width: 0.8px;
    -fx-text-fill: #fff;
}

.text-field:focused {
    -fx-border-color: #fff;
    -fx-background-color: #1f3747;
}
.btn {
    -fx-background-color: linear-gradient(to bottom right, #58B4F6, #002F4D);
    -fx-text-fill: #ddd;
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
    -fx-font-family: Arial;

    -fx-background-color: linear-gradient(to bottom right, #2a2a57, #5d5d9d, #4d4d8d);
        -fx-background-radius: 5;
        -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0.3, 0, 0);
        -fx-transition: -fx-effect 0.3s, -fx-background-color 0.3s;
}
.btn:hover {
        -fx-background-color: linear-gradient(to bottom right, #4d4d8d, #8d8dff, #6d6dbd);
            -fx-background-radius: 10;
            -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 0, 0), innershadow(gaussian, rgba(255, 255, 255, 0.3), 5, 0.3, 0, 0);
            -fx-transition: -fx-effect 0.3s, -fx-background-color 0.3s, -fx-background-radius 0.3s;
}